
/* BODY */

body {
    font-family: Arial, sans-serif;
    background: #292929;
    color: white;
}

.asteriskField {
    display: none !important;
}

ul li {
    list-style-type: none;
}


/* HEADER */

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1vh;
    z-index: 999;
    padding: 2.5vh;
}

.opciones_header {
    float: right;
}

.opciones_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.opciones_header ul li {
    display: inline;
    margin-right: 1vw;
    }

/* Estilos para el desplegable (opciones header) */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle::after {
    content: "\25BC";
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 15vw;
    margin-top: 1vh;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

/* ENTRADAS */

.entradas{
    width: 40vw;
    margin: auto;
}

/* MAIN */

main{
    margin-top: 15vh;
}

.texto_home {
    text-align: center;
}

.alert-success{
    display: none;
}


/* COLUMNAS DE HOME (main) */

.columnass {
    display: flex;
    min-height: 70vh;
}

.columna_biblioteca {
    flex: 1 1 25%;
    margin: 3vh 1vh 0vh 2vw;
    background-color: white;
    border-radius: 1.5em;
    text-align: center;
    color: black;
    padding: 3em;
}


.columna_biblioteca_grups{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 25%;
    margin: 3vh 1vh 0vh 2vw;
    background-color: white;
    border-radius: 1.5em;
    text-align: center;
    color: black;
    padding: 3em;
    padding-top: 7.5em; 
    
}

.volver-home {
    position: absolute;
    top: 2em;
    left: 2em;
}

.boton-suprimir {
    align-self: center; 
    margin-top: auto; 
}

.columna_entradas {
    flex: 1 1 75%;
    margin: 3vh 2vh 0vh 1vw;
    border-radius: 1.5em;
    text-align: center;
    color: black;
    background: white;
    padding: 3em;
}


/* GRUPS DE BIBLIOTECA (main) */

.grupos {
    padding: 0;
    text-align: left;
}


.biblioteca{
    margin: 0vh 0vh 3vh 0vh;
}

.botones_biblioteca{
    margin-bottom: 3vh;
}

#crear_grupo{
    margin-bottom: 1em;

}

#grupo_contentadduser{
    margin-bottom: 1em;
}

/* CREAR GRUPO */

#boton_grupo_nuevo{
    margin-left: 0.5em;
}

.grupos_biblioteca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.boton_eliminar_grupo {
    margin-left: auto; 
}


#contenidoPrincipal {
    position: relative;
    transition: opacity 0.3s ease; 
}

.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 3em; 
    border-radius: 10px;
    z-index: 9999;
}

#contenidoPrincipal.popup-active {
    opacity: 25%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}


/* TABLA CONTENIDO (main) */

.header_tabla {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo_lista_entradas {
    text-align: center;
    flex: 1;
}





.tabla-contenedor {
    overflow-x: auto;
    margin-top: 3em; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em; 
}

th, td {
    border: 1px solid #ddd;
    padding: 1em; 
    text-align: left;
}

th {
    background-color: #333; 
    color: white; 
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.contrasena-container {
    position: relative;
}

.contrasena-input {
    border: none;
    background: none;
    padding-right: 2em; 
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 1em; 
    transform: translateY(-50%);
    cursor: pointer;
    color: #333; 
}


.bloque_contraseñas_entradas_home {
    width: 21%;
}

.bloque_calidad_entradas_home {
    width: 15%;
    
}

/* REGISTER */

.register{
    width: 40vw;
    margin: auto;
    margin-top: 20vh;
}


/* LOGIN */

.login{
    width: 40vw;
    margin: auto;
    margin-top: 30vh;

}

.card-body form > * {
    margin-bottom: 2em; 
}

/* AGREGAR CONTENIDO */

.mensaje_error_agregar_contenido{
    margin: 0;
}


/* AGREGAR CONTENIDO A GRUPO */

#pop_up_form {
    width: auto;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pop_up_form h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#pop_up_form select {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#contenido{
    height: 20vh;
}


/* GENERADOR DE CONTRASEÑAS */

.generador{
    width: 40vw;
    margin: auto;
    margin-top: 23vh    
}

.card_generador{
    padding: 2em;
}


#overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#passwordPopup {
    display: none; 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    color: black; 
    padding: 2em; 
    border-radius: 10px; 
    z-index: 1001; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: auto; 
    text-align: center;
}

#passwordPopup #generatedPassword {
    margin-bottom: 1em; 
    display: block; 
    font-size: 1.2em;
    font-weight: bold; 
}

#passwordPopup button {
    padding: 0.5em 1em; 
    margin: 0.5em; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    background-color: #333; 
    color: white;
    transition: background-color 0.3s; 
}

#passwordPopup button:hover {
    background-color: #555;
}

