
/* BODY */

body {
    font-family: Arial, sans-serif;
    background: #292929;
    color: white;
}

.asteriskField {
    display: none !important;
}

ul li {
    list-style-type: none;
}


/* HEADER */

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1vh;
    z-index: 999;
    padding: 2.5vh;
}

.opciones_header {
    float: right;
}

.opciones_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.opciones_header ul li {
    display: inline;
    margin-right: 1vw;
    }

/* Estilos para el desplegable (opciones header) */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle::after {
    content: "\25BC";
    margin-left: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 15vw;
    margin-top: 1vh;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

/* ENTRADAS */

.entradas{
    width: 40vw;
    margin: auto;
}

/* MAIN */

main{
    margin-top: 15vh;
}

.texto_home {
    text-align: center;
}

.alert-success{
    display: none;
}


/* COLUMNAS DE HOME (main) */

.columnass {
    display: flex;
    min-height: 70vh;
}

.columna_biblioteca {
    flex: 1 1 25%;
    margin: 3vh 1vh 0vh 2vw;
    background-color: white;
    border-radius: 1.5em;
    text-align: center;
    color: black;
    padding: 3em;
}

.columna_entradas {
    flex: 1 1 75%;
    margin: 3vh 2vh 0vh 1vw;
    border-radius: 1.5em;
    text-align: center;
    color: black;
    background: white;
    padding: 3em;
}


/* GRUPS DE BIBLIOTECA (main) */

.grupos {
    padding: 0;
    text-align: left;
}


.biblioteca{
    margin: 0vh 0vh 3vh 0vh;
}

.botones_biblioteca{
    margin-bottom: 3vh;
}

#crear_grupo{
    margin-bottom: 1em;

}

#grupo_contentadduser{
    margin-bottom: 1em;
}

/* CREAR GRUPO */

#boton_grupo_nuevo{
    margin-left: 0.5em;
}

.grupos_biblioteca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.boton_eliminar_grupo {
    margin-left: auto; /* Opcional, para asegurar que el botón siempre esté al extremo derecho */
}


/* Estilos para el contenido principal */
#contenidoPrincipal {
    position: relative;
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
}

/* Estilos para el formulario emergente */
.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 3em; /* Ajusta el tamaño del padding para hacer el formulario más grande */
    border-radius: 10px;
    z-index: 9999; /* Asegura que el formulario esté en la parte superior */
}

/* Estilos para aplicar opacidad al contenido principal cuando el formulario emergente está activo */
#contenidoPrincipal.popup-active {
    opacity: 25%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

/* Estilos para el botón de cierre */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}



/* TABLA CONTENIDO (main) */

.header_tabla {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo_lista_entradas {
    text-align: center;
    flex: 1;
}





.tabla-contenedor {
    overflow-x: auto;
    margin-top: 3em; /* Ajuste de margen superior */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em; /* Espacio adicional entre la tabla y otros elementos */
}

th, td {
    border: 1px solid #ddd;
    padding: 1em; /* Reducción del espacio de relleno */
    text-align: left;
}

th {
    background-color: #333; /* Cambio de color de fondo */
    color: white; /* Cambio de color de texto */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.contrasena-container {
    position: relative;
}

.contrasena-input {
    border: none;
    background: none;
    padding-right: 2em; /* Reducción del espacio de relleno */
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 1em; /* Ajuste del espacio a la derecha */
    transform: translateY(-50%);
    cursor: pointer;
    color: #333; /* Cambio de color del icono */
}


.bloque_contraseñas_entradas_home {
    width: 21%;
}

.bloque_calidad_entradas_home {
    width: 15%;
    
}

/* REGISTER */

.register{
    width: 40vw;
    margin: auto;
    margin-top: 20vh;
}


/* LOGIN */

.login{
    width: 40vw;
    margin: auto;
    margin-top: 30vh;

}

.card-body form > * {
    margin-bottom: 2em; 
}

/* AGREGAR CONTENIDO */

.mensaje_error_agregar_contenido{
    margin: 0;
}


/* AGREGAR CONTENIDO A GRUPO */

#pop_up_form {
    width: 40vw;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pop_up_form h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#pop_up_form select {
    width: 80%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* GENERADOR DE CONTRASEÑAS */

.generador{
    width: 40vw;
    margin: auto;
    margin-top: 23vh    
}

.card_generador{
    padding: 2em;
}


/* Estilo para el overlay */
#overlay {
    display: none; /* Oculto inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000; /* Asegura que esté por encima del contenido principal */
}

/* Estilo para el passwordPopup */
#passwordPopup {
    display: none; /* Oculto inicialmente */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    padding: 2em; /* Padding más amplio */
    border-radius: 10px; /* Bordes redondeados */
    z-index: 1001; /* Asegura que esté por encima del overlay */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra */
    width: auto; /* Ancho consistente con otros elementos */
    text-align: center; /* Centra el texto */
}

/* Estilo para el contenido del passwordPopup */
#passwordPopup #generatedPassword {
    margin-bottom: 1em; /* Espacio entre la contraseña y los botones */
    display: block; /* Asegura que el span ocupe todo el ancho disponible */
    font-size: 1.2em; /* Tamaño de fuente más grande */
    font-weight: bold; /* Texto en negrita */
}

/* Estilo para los botones del passwordPopup */
#passwordPopup button {
    padding: 0.5em 1em; /* Espaciado interno */
    margin: 0.5em; /* Espaciado externo */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto blanco */
    transition: background-color 0.3s; /* Transición suave */
}

/* Estilo para el hover de los botones del passwordPopup */
#passwordPopup button:hover {
    background-color: #555; /* Color de fondo más claro al pasar el mouse */
}


