{% extends 'home.html' %}
{% block contenido %}
{% load crispy_forms_tags %}

<div class="entradas">
    <div class="card">
        <div class="card-body">
            <h3>Ompli tots els camps per afegir una nova entrada i poder utilitzar-la</h3>
            <br>
            <p>Pots generar una contraseña automaticament amb la següent opció:</p>
            <a class="btn btn-secondary" href="{% url 'generador' %}" style="margin-bottom: 2em;">Generar contrasenya</a>
            <form method="post">
                {% csrf_token %}
                {{ form.titulo | as_crispy_field}}
                {{ form.username | as_crispy_field}}
                {{ form.contraseña | as_crispy_field }}
                {{ form.contraseña_confirmacion | as_crispy_field}}
                {{ form.link | as_crispy_field}}
                <div style="margin-bottom: 1em;">
                    <button class="btn btn-secondary" type="submit">Guardar</button>
                    <a class="btn btn-danger" href="{% url 'home' %}">Cancel·la</a>
                </div>


            </form>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <p class="mensaje_error_agregar_contenido">{{ error }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}