{% extends 'home.html' %}
{% block contenido %}
{% load crispy_forms_tags %}

<div class="entradas">
    <div class="card">
        <div class="card-body">
            <h3>Rellene todos los campos para agregar una nueva entrada y poder utilizarla</h3>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form.titulo | as_crispy_field}}
                {{ form.username | as_crispy_field}}
                {{ form.contraseña | as_crispy_field }}
                {{ form.contraseña_confirmacion | as_crispy_field}}
                {{ form.link | as_crispy_field}}
                <button class="btn btn-secondary" type="submit">Guardar</button>
                <a class="btn btn-danger" href="{% url 'home' %}">Cancelar</a>
                <a class="btn btn-secondary" href="{% url 'generador' %}">generar contraseña</a>

            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}