{% extends 'home.html' %}
{% load crispy_forms_tags %}

{% block contenido %}



<div class="login">
    <div class="card" id="login-card">
        <div class="card-body">
            <h2>Inici de sessió</h2>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="botones_login" style="margin-bottom: 1em;">
                    <button class="btn btn-success" type="submit">Iniciar sessió</button>
                    <a class="btn btn-secondary" type="submit" href="{% url 'register' %}" >Registrar-se</a>
                </div>
            </form>
            
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>  
    </div>
</div>





{% endblock %}
