

{% extends 'home.html' %}

{% block contenido %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>


<div class="generador">
    <div class="card card_generador">
        <div class="card-body">
            <h2>Generador de contrasenyes</h2>
            <br>
            <form id="passwordForm">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary" type="submit" style="margin: 0;">Generar contrasenya</button>
                <a class="btn btn-danger " href="{% url 'agregar_contenido' %}" style="margin: 0;">Tornar</a>
            </form>
            
            <div id="overlay"></div>
            <div id="passwordPopup" style="color: #000;">
                <span id="generatedPassword"></span>
                <button onclick="copyPassword()">Copiar</button>
                <button onclick="closePopup()">Tancar</button>
            </div>
        </div>  
    </div>
</div>





<script type="text/javascript">
    var passwordGeneratorUrl = "{% url 'generador' %}";
</script>
<script>
$(document).ready(function(){
    $('#passwordForm').submit(function(e){
        e.preventDefault(); // Prevenir el envío tradicional del formulario
        $.ajax({
            type: 'POST',
            url: passwordGeneratorUrl, // Usar la URL generada por Django
            data: $(this).serialize(),
            success: function(response){
                $('#generatedPassword').text(response.password);
                $('#overlay').show();
                $('#passwordPopup').show();
            },
            error: function(xhr, errmsg, err){
                alert("No se pudo generar la contraseña. Error: " + xhr.status);
            }
        });
    });
});

function closePopup() {
    $('#passwordPopup').hide();
    $('#overlay').hide();
}

function copyPassword() {
var passwordText = document.getElementById('generatedPassword').innerText;
navigator.clipboard.writeText(passwordText.replace('Tu nueva contraseña es: ', '')).then(function() {
    alert('Contraseña copiada al portapapeles');
}, function(err) {
    alert('No se pudo copiar la contraseña');
});
}

</script>


{% endblock %}



