

{% extends 'home.html' %}

{% block contenido %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    #passwordPopup {
        display: none; /* Oculto inicialmente */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: white;
        border: 2px solid #000;
        z-index: 1001;
        width: auto;
    }
    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1000;
    }
    #generatedPassword {
        margin-bottom: 10px; /* Espacio entre la contraseña y los botones */
        
    }   



    button {
        margin-right: 5px; /* Espacio entre los botones */
    }

</style>
</head>
<body>
<h1>Generador de Contraseñas</h1>
<form id="passwordForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Generar Contraseña</button>
    <a class="btn btn-outline-secondary" href="{% url 'agregar_contenido' %}">Tornar</a>
</form>

<div id="overlay"></div>
<div id="passwordPopup" style="color: #000;">
    <span id="generatedPassword"></span>
    <button onclick="copyPassword()">Copiar</button>
    <button onclick="closePopup()">Cerrar</button>
</div>





<script type="text/javascript">
    var passwordGeneratorUrl = "{% url 'generador' %}";
</script>
<script>
$(document).ready(function(){
    $('#passwordForm').submit(function(e){
        e.preventDefault(); // Prevenir el envío tradicional del formulario
        $.ajax({
            type: 'POST',
            url: passwordGeneratorUrl, // Usar la URL generada por Django
            data: $(this).serialize(),
            success: function(response){
                $('#generatedPassword').text("Tu nueva contraseña es: " + response.password);
                $('#overlay').show();
                $('#passwordPopup').show();
            },
            error: function(xhr, errmsg, err){
                alert("No se pudo generar la contraseña. Error: " + xhr.status);
            }
        });
    });
});

function closePopup() {
    $('#passwordPopup').hide();
    $('#overlay').hide();
}

function copyPassword() {
var passwordText = document.getElementById('generatedPassword').innerText;
navigator.clipboard.writeText(passwordText.replace('Tu nueva contraseña es: ', '')).then(function() {
    alert('Contraseña copiada al portapapeles');
}, function(err) {
    alert('No se pudo copiar la contraseña');
});
}

</script>


{% endblock %}



